//
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  height: 500px;
  
  .swiper-slide {
    min-height: 400px;
    box-sizing: border-box;
    padding: 0 1.75rem;
    text-align: center;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .form-question {
      width: 80%;
      text-align: left;

      h2 {
        margin-bottom: .5rem;
      }

      h3 {
        margin-bottom: .5rem;
      }
  
      p {
        margin-top: 0;
      }
    }
  }
}

.cool-form-wrapper {
  max-width: 400px;

  input {
    font-size: 1.25rem;
  }
}

#linkedin-signin {
  background-color: rgb(51, 117, 178);
  color: white;
}
